@font-face {
    font-family: Antipasto Pro;
    src: url(../tipografia/Antipasto-Pro-Regular-trial.ttf)
}
.color{
    background-color: black;
}

@import "./layout/header";
@import "./layout/titulos";
@import "./layout/seccionesinicio";
@import "./footer/footer";
@import "./layout/seccionesclientes.scss";
@import "./layout/seccionesequipo";
@import "./layout/seccionesnosotros";
@import "./layout/seccioneservicios";
@import "./desktop/vistadesktop";
@import "./desktop/desktopclientes";
@import "./desktop/desktopequipo";
@import "./desktop/desktopnosotros";
@import "./desktop/desktopservicios";

