header{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 10px;
    justify-content: space-between;
            .logo{
            height: 50px;
            text-align: center;
                }    
            .menu{
                height: 50px;
                width: 50px;
                }
            a{
                font-family: Antipasto Pro;
            }
            
}