.titulos{
    .h1equipo{
        font-size: 50px
    }
    .h2equipo{
        font-size: 25px;
    }

}
.segundaequipo{
    .h3equipo{
        font-family: Antipasto Pro;
        color: wheat;
    }
    .h4equipo{
        font-family: Antipasto Pro;
        color: wheat;
    }
    .h5equipo{
        font-family: Antipasto Pro;
        color: wheat;
    }
    .descripcion{
        font-family: Antipasto Pro;
        color: black;
    }
}
.lema{
    display: block;
    text-align: center;
    margin: 25px;
         
        .h6equipo{
        color: white;
        font-size: 25px;
        font-family: Antipasto Pro;
        }
        .subequipo{
        color: white;
        font-family: Antipasto Pro;
        }
}
.sectionvideo{
    display: block;
    text-align: center;

        .videoivan{
        width: 300px;
        }
}