.segundanosotros{
    display: block;
    text-align: center;
    margin: 50px;
        .h3nosotros{
        color: wheat;
        font-family: Antipasto Pro;
        font-size: 30px;
        } 
        .h4nosotros{
            color: wheat;
            font-family: Antipasto Pro;
            font-size: 30px;
        }
        .pnosotros{
            color: white;
            font-family: Antipasto Pro;
        }
}
.terceranosotros{
    display: flexbox;
    text-align: center;
        .h5nosotros{
        color: wheat;
        font-family: Antipasto Pro;
        font-size: 30px;
        }
        .lista{
            color: white;
            
        }
}