.segundaservicios{
    display: block;
    text-align: center;
    margin: 30px;
            .ptitulos{
            color: wheat;
            font-family: Antipasto Pro;
            font-size: 18px;
            text-decoration-line: underline;
            }
            .pservicios{
            color: white;
            font-family: Antipasto Pro;
            font-size: 15px;
            }
}
.terceraservicios{
    display: block;
    text-align: center;
        .ptitulos{
        color: wheat;
        font-family: Antipasto Pro;
        font-size: 18px;
        text-decoration-line: underline;
        }
        .pservicios{
        color: white;
        font-family: Antipasto Pro;
        font-size: 15px;
        }
}
.cuartaservicios{
    display: block;
    text-align: center;
    margin: 30px;

        .h3servicios{
        color: wheat;
        font-family: Antipasto Pro;
        font-size: 20px;
        }
        .video-servicios{
            width: 300px;
        }
}
