.segundaclientes{
    margin-top: 50px;
}
.terceraclientes{
    margin-top: 50px;
    display: block;
    text-align: center;

    .opiniones{
        color: wheat;
        font-family: Antipasto Pro;
    }
    .pclientes{
        color: white;
        font-family: Antipasto Pro;
    }
}

