.titulos{
    text-align: center;
    margin-top: 15px;
        h1{
        color: white;
        font-family: Antipasto Pro;
    }
    h2{
        color: white;
        font-family: Antipasto Pro;
        font-size: 17px;
    }    
}