footer{
    padding: 15px;
   display: flex;
   justify-content: space-between;
            .ig{
                width: 30px;
                }
            .wpp{
                width: 30px;
                }
            .redes{
                margin-top: 10px;
                }
            .sukha-footer{
                width: 100px;
                }

}