@media only screen and (min-width: 768px) {
.h1equipo{
    font-size: 70px;
}
.h2equipo{
    font-size: 35px;
}
.segundaequipo{
    display: flex;
   justify-content: space-around;
        .carouselequipo{
        height: 550px;
            .fotojoaco{
            height: 500px;
            }
        }
}
.w-100{
    display: none;
}
.h6equipo{
    font-size: 70px;
}
.subequipo{
    font-size: 25px;
}
.ig{
    width: 50px;
}
 .wpp{
     width: 50px;
}
 .sukha-footer{
     width: 150px;
}
}